.pointsContanier{
  display: flex;
  width: 100vw;
  margin-top: 130px;
  align-items: center;
  align-content: center;
  font-family: 'Tajawal', sans-serif;
  font-size: 15px;
  height: 130vh;
  width: 100vw;
}


.helpUs{
  display: flex;
  flex-direction:column ;
  width: 100vw;
  padding-right: 5%;

  
}



.helpUs label{
  font-family: 'Tajawal', sans-serif;
}

.helpUs Button{
  font-family: 'Tajawal', sans-serif;
  font-size: 15px;
  border-radius: 20px;
  background-color: #ee2260;
  border-color: #ee2260;
}

.helpUs Input{
  font-family: 'Tajawal', sans-serif;
}

.demonstration{
  text-align:center;
  color: white;
  background: #ee2260;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
  flex-direction: column;
}

.feedBack{
  margin-top: 50px;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-right: 5%;  
  margin-left: 5%;  
  

}

@media only screen and (max-width:600px) {
  .pointsContanier{
    flex-direction: column;
    height: fit-content;
    margin-bottom: 70px;
  }
  .helpUs{
    padding-right: 0;
  }
}