@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');

.profileContainer{
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  margin-top: 100px;
  justify-content: space-around;
  width: 60vw;
  align-items: center;
  align-content: center;
  margin-left: 40vw;
  margin-right: 0;
  margin-bottom: 50px;
  font-family: 'Tajawal', sans-serif;
  font-size: 15px;

}

.profileContainer Input{
  font-family: 'Tajawal', sans-serif;
  font-size: 15px;
}

.profileContainer Button{
  font-size: 15px;
  font-family: 'Tajawal', sans-serif;
  background-color: #ee2260;
  border-color: #ee2260;
  border-radius: 20px;
  width: 150px;
}


.sec{
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 50vw;
}

.labelandinput{
  display: flex;
  flex-direction: column;
  height: 70px;
  width: 20vw;
}

.t{
  font-family: 'Almarai', sans-serif;
  font-size: 17px;
  font-weight: bolder;
}

@media only screen and (max-width: 600px) {
  .labelandinput{
    width:100% ;
  }

  .profileContainer Input{
    width: 100%;
  }

  .sec{
    width:100% ;
  }

  .t{
    padding-bottom: 20px;
  }
}