.theEmployeeNewAccount{
  display: flex;
  font-size: 15px;
  flex-direction: column;
  align-items: center;
  align-content: center;

}

.search{
  width: 100vw;
  margin-bottom: 20px;
  display: flex;
  justify-content:baseline;
  flex-wrap: wrap;
}