@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@700&display=swap');

.newFrom
{
 height:calc(100vh - 100px);    
 padding-right: 5%;
}

.newFrom label{
  padding-top:10px;
  font-family: 'Tajawal', sans-serif;
  font-size: 15px;
}

.newFrom Button{
  font-family: 'Tajawal', sans-serif;
  font-size: 15px;
  border-radius: 20px;
  width: 200px;
  height: 35px;
  height: 35px;
}

.newFrom Input::-webkit-input-placeholder {
  color: black !important;
  }
