@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@700&display=swap');

.userHomeContainer{
 
  padding-right: calc((100vw - 850px) /2);
  padding-left: calc((100vw - 850px) /2);
  width: 100vw;
  height: calc(100vh - 65px);
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-evenly;

}

.userHomeContainer Button{
  width: 130px;
  height: 150px;
  font-family: 'Tajawal', sans-serif;
  border-radius:20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
  font-size: 17px;

}

.icon{
 font-size :50px;
}


@media only screen and (max-width: 400px) {

  .userHomeContainer{
    margin-top: 50px;
    height: 100vh
  }
}


@media only screen and (max-width: 250px) {
.userHomeContainer{
 
  height: 200vh
}
}