.map {
  height:calc(100vh - 70px);
  width: 100vw;
  margin-top: 65px;
}

.leaflet-control-container .leaflet-routing-container-hide {
  display: none;
}

.newDA{
  padding-top: 40px;
  display: none;
  flex-direction: column;
  height: fit-content;
  align-content: center;
  padding-right: 3%;

}

.buttons{
  display: flex;
  align-content: center;
  flex-wrap: wrap;
 
}

.map_A{
  height:calc(100vh - 70px);
  width: 100vw;
  margin-top: 0;

}
