.billForm{
  width: 30vw;
  height:calc(100vh - 232px);    
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}


.billForm label{
  padding-top:10px;
  font-family: 'Tajawal', sans-serif;
  font-size: 15px;
}

.billForm Button{
  font-family: 'Tajawal', sans-serif;
  font-size: 15px;
  border-radius: 20px;
  width: 100px;
  height: 35px;
  background-color: #ee2260;
  border-color: #ee2260;
  height: 35px;
}


