@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap');

.register{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width:600px;
  height: 500px;
  border:1px solid #33B9EC;
  border-radius:30px;
  box-shadow: 0px 10px 20px 15px rgba(14, 12, 12, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
}
.rr{
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  padding-top: 10px;
  width: 600px;
}
.back{
  width: 30px;
  height:30px;
  cursor: pointer;
}
.form{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.newUser{
  display: flex;
  flex-wrap: wrap;
  font-family: 'Almarai', sans-serif;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 40px;
  padding-top: 40px; 
  padding-left: 130px;
}
.register Input{
  font-family: 'Almarai', sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.register Button{
  font-family: 'Almarai', sans-serif;
  font-size:15px;
  border-radius: 10px;
  text-align: center;
  align-self: center;  
}
 .register Input{
  height: "40px";
  border-radius: "10px";
 }

@media only screen and (max-width: 600px) {
  .register{
    width: 90vw;
    height: 600px;
  }


  .rr{
    width: 90vw;
    flex-wrap: nowrap;
    align-content: center;
    text-align: center;
  }

  .newUser{
    padding-right: 0;
    padding-left: 17%;
    }

    .back{
      margin-right: -50px;
      
    }
}