@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@700&display=swap');

.newTankForm{
  display:flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

}
.headerNewTank{
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 20px;
  font-family: 'Tajawal', sans-serif;
  font-weight: bolder;
}

.newTank{
  font-size: 20px;
  font-family: 'Tajawal', sans-serif;
}